<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="customers.css">
    <title>HISTORY</title>
</head>

<body>
    <header>TRANSFER HISTORY</header>
    <div class="table-responsive-md">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">SENDER</th>
                    <th scope="col">RECEIVER</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">DATE(TIME)</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< result.length; i++){ %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td>
                            <%= result[i].sender %>
                        </td>
                        <td>
                            <%= result[i].receiver %>
                        </td>
                        <td>
                            <%= result[i].amount %>
                        </td>
                        <td>
                            <%= result[i].date %>(<%= result[i].time %>)
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>