<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/profile.css">
    <link rel="stylesheet" href="../styles/transfer.css">
    <title>Profile</title>
</head>

<body>
    <%- include('./shared/header.ejs') %>
    <h1>
        <%= object[cus].name %>
    </h1>
    <h3>Email: <%= object[cus].email %>
    </h3>
    <div id='flex'>
        <div id='info' class="ins">
            <img src="../images/img2.png" alt="banking" width="30%">
            <aside>Balance: Rs <span>
                    <%= object[cus].balance %>
                </span></aside>
        </div>
        <form action="/update" method="post" class="ins" onsubmit="return check()">
            <label for="cust">TRANSFER TO:</label>
            <select name="cust" id="select" required>
                <option value="">Select Customer</option>
                <% for(let i=0;i < object.length;i++){ if(i==cus)continue; %>
                    <option value="<%= object[i].sn %>">
                        <%= object[i].name %>(Balance Rs.<%= object[i].balance %>)
                    </option>
                    <% } %>
            </select><br>
            <label for="amount">AMOUNT:</label>
            <input type="number" name="amount" id="amount" required>
            <span></span>
            <br>
            <button type="submit">Send</button>
        </form>
    </div>
    <script type="text/javascript">
        function check() {
            let value = '<%= object[cus].balance %>';
            if (parseInt(document.getElementById('amount').value) > value) {
                document.querySelector('form span').innerHTML = 'Insufficient Balance..!!!'
                return false;
            }
            location.href='./action';
            return true;
        }
    </script>
    <%- include('./shared/footer.ejs') %>
</body>

</html>